@import 'open-color/open-color.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-auto p-8;
  @apply w-full max-w-screen-xl;
  @apply bg-gray-0;
  @apply font-sans;
  @apply text-gray-8;
}
